.App {
  display: flex;
  flex-direction:column;
  justify-content:center;
}



h2 {
  text-align: center;
}



.store {
  display:flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color:white;
 
}

.store input {
  width: 300px;
  height:50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}

.store button {
  width: 300px;
  height:50px;
  margin-top: 15px;
}



.worksIn {
  display:flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color:grey;
 
}

.worksIn input {
  width: 300px;
  height:50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}

.worksIn button {
  width: 300px;
  height:50px;
  margin-top: 15px;
}

.employee {
  display:flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color:white;
 
}


.employee input {
  width: 300px;
  height:50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}

.employee button {
  width: 300px;
  height:50px;
  margin-top: 15px;
}


.animalCare {
  display:flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color:grey;
 
}

.animalCare input {
  width: 300px;
  height:50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}

.animalCare button {
  width: 300px;
  height:50px;
  margin-top: 15px;
}

.cashierRetail {
  display:flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color:grey;
 
}

.cashierRetail input {
  width: 300px;
  height:50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}

.cashierRetail button {
  width: 300px;
  height:50px;
  margin-top: 15px;
}

.soldIn {
  display:flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color:white;
 
}

.soldIn input {
  width: 300px;
  height:50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}

.soldIn button {
  width: 300px;
  height:50px;
  margin-top: 15px;
}

.merchandise {
  display:flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color:grey;
 
}

.merchandise input {
  width: 300px;
  height:50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}

.merchandise button {
  width: 300px;
  height:50px;
  margin-top: 15px;
}

.includes {
  display:flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color:white;
 
}

.includes input {
  width: 300px;
  height:50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}

.includes button {
  width: 300px;
  height:50px;
  margin-top: 15px;
}

.animals {
  display:flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color:grey;
 
}

.animals input {
  width: 300px;
  height:50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}

.animals button {
  width: 300px;
  height:50px;
  margin-top: 15px;
}

.items {
  display:flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color:white;
 
}

.items input {
  width: 300px;
  height:50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}

.items button {
  width: 300px;
  height:50px;
  margin-top: 15px;
}

.food {
  display:flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color:grey;
 
}

.food input {
  width: 300px;
  height:50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}

.food button {
  width: 300px;
  height:50px;
  margin-top: 15px;
}

.enclosure {
  display:flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color:white;
 
}

.enclosure input {
  width: 300px;
  height:50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}

.enclosure button {
  width: 300px;
  height:50px;
  margin-top: 15px;
}

.toys {
  display:flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color:grey;
 
}

.toys input {
  width: 300px;
  height:50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}

.toys button {
  width: 300px;
  height:50px;
  margin-top: 15px;
}

.isFor {
  display:flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color:white;
 
}

.isFor input {
  width: 300px;
  height:50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}

.isFor button {
  width: 300px;
  height:50px;
  margin-top: 15px;
}

.compatibleWith {
  display:flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color:grey;
 
}

.compatibleWith input {
  width: 300px;
  height:50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}

.compatibleWith button {
  width: 300px;
  height:50px;
  margin-top: 15px;
}

.isQualified {
  display:flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color:white;
 
}

.isQualified input {
  width: 300px;
  height:50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}

.isQualified button {
  width: 300px;
  height:50px;
  margin-top: 15px;
}



