.App {
  display: flex;
  flex-direction:column;
  justify-content:center;
}



h2 {
  text-align: center;
}



.store {
  display:flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color:white;
 
}

.store input {
  width: 300px;
  height:50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}

.store button {
  width: 320px;
  height:50px;
  margin-top: 15px;
}

.store button:hover {
  cursor: pointer;
}



.worksIn {
  display:flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color:grey;
 
}

.worksIn input {
  width: 300px;
  height:50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}

.worksIn button {
  width: 320px;
  height:50px;
  margin-top: 15px;
}

.worksIn button:hover {
  cursor: pointer;
}


.employee {
  display:flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color:white;
 
}


.employee input {
  width: 300px;
  height:50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}

.employee button {
  width: 320px;
  height:50px;
  margin-top: 15px;
}

.employee button:hover {
  cursor: pointer;
}



.animalCare {
  display:flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color:grey;
 
}

.animalCare input {
  width: 300px;
  height:50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}

.animalCare button {
  width: 320px;
  height:50px;
  margin-top: 15px;
}

.animalCare button:hover {
  cursor: pointer;
}


.cashierRetail {
  display:flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color:grey;
 
}

.cashierRetail input {
  width: 300px;
  height:50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}

.cashierRetail button {
  width: 320px;
  height:50px;
  margin-top: 15px;
}

.cashierRetail button:hover {
  cursor: pointer;
}


.soldIn {
  display:flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color:white;
 
}

.soldIn input {
  width: 300px;
  height:50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}

.soldIn button {
  width: 320px;
  height:50px;
  margin-top: 15px;
}

.soldIn button:hover {
  cursor: pointer;
}


.merchandise {
  display:flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color:grey;
 
}

.merchandise input {
  width: 300px;
  height:50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}

.merchandise button {
  width: 320px;
  height:50px;
  margin-top: 15px;
}

.merchandise button:hover {
  cursor: pointer;
}


.includes {
  display:flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color:white;
 
}

.includes input {
  width: 300px;
  height:50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}

.includes button {
  width: 320px;
  height:50px;
  margin-top: 15px;
}

.includes button:hover {
  cursor: pointer;
}


.animals {
  display:flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color:grey;
 
}

.animals input {
  width: 300px;
  height:50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}

.animals button {
  width: 320px;
  height:50px;
  margin-top: 15px;
}

.animals button:hover {
  cursor: pointer;
}

.items {
  display:flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color:white;
 
}

.items input {
  width: 300px;
  height:50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}

.items button {
  width: 320px;
  height:50px;
  margin-top: 15px;
}

.items button:hover {
  cursor: pointer;
}


.food {
  display:flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color:grey;
 
}

.food input {
  width: 300px;
  height:50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}

.food button {
  width: 320px;
  height:50px;
  margin-top: 15px;
}

.food button:hover {
  cursor: pointer;
}


.enclosure {
  display:flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color:white;
 
}

.enclosure input {
  width: 300px;
  height:50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}

.enclosure button {
  width: 320px;
  height:50px;
  margin-top: 15px;
}

.enclosure button:hover {
  cursor: pointer;
}


.toys {
  display:flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color:grey;
 
}

.toys input {
  width: 300px;
  height:50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}

.toys button {
  width: 320px;
  height:50px;
  margin-top: 15px;
}

.toys button:hover {
  cursor: pointer;
}


.isFor {
  display:flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color:white;
 
}

.isFor input {
  width: 300px;
  height:50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}

.isFor button {
  width: 320px;
  height:50px;
  margin-top: 15px;
}

.isFor button:hover {
  cursor: pointer;
}


.compatibleWith {
  display:flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color:grey;
 
}

.compatibleWith input {
  width: 300px;
  height:50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}

.compatibleWith button {
  width: 320px;
  height:50px;
  margin-top: 15px;
}

.compatibleWith button:hover {
  cursor: pointer;
}


.isQualified {
  display:flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color:white;
 
}

.isQualified input {
  width: 300px;
  height:50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}

.isQualified button {
  width: 320px;
  height:50px;
  margin-top: 15px;
}

.isQualified button:hover {
  cursor: pointer;
}




